<h1>グループ一覧</h1>
<div class="row">
  <%= form_with model: @group, url: groups_path do |f| %>
    <div>
      <%= f.label :name, "グループ名" %> <br>
      <%= f.text_field :name, class: "form-controller" %>
    </div>
    <div>

    </div>
  <% end %>
</div>