<h2>参拝者一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>お名前</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "詳細", user_path(user.id), class: "btn btn-outline-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>