<h1><strong>巡んじゃ</strong>、へようこそ</h1>
<br>
<p>神社を巡って、参拝の記録や御朱印、行事の思い出をシェアできるコミュニティです。</p>
<br>
<p>あなたの一歩が、新しい発見やご縁につながります。</p>
<br>
<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
  <div class="row">
    <%= link_to "門をくぐる", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
  </div>
  <div class="row">
    <%= link_to "はじめる", new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>
  </div>
</div>