<div class="row pt-3">
  <div class="col-10 text-center mx-auto">
  <h1 class="mt-2"><strong><i class="fa-solid fa-torii-gate"></i>巡んじゃ</strong>、へようこそ</h1>
  <br>
  <div class="box1"></div>
  <p class="mt-3">神社を巡って、参拝の記録や御朱印、行事の思い出をシェアできるコミュニティです。</p>
  <br>
  <p class="mt-3">あなたの一歩が、新しい発見やご縁につながります。</p>
  </div>
</div>
<br>
<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
  <div class="row">
    <%= link_to "門をくぐる", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
  </div>
  <div class="row pb-5">
    <%= link_to "はじめる", new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>
  </div>
</div>