<h1>巡んじゃへようこそ</h1>
<br>
<p>神社を巡って、参拝の記録や御朱印、行事の思い出をシェアできるコミュニティです。</p>
<br>
<p>あなたの一歩が、新しい発見やご縁につながります。</p>
<br>
<%= link_to "門をくぐる", new_user_session_path %><br>
<%= link_to "はじめる", new_user_registration_path %>