@use '~bootstrap/scss/bootstrap';

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

h1, h2, h3, h4, h5, nav, p {
  font-family: "Sawarabi Mincho", sans-serif;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 10px 0px;
}

.flash-message.notice {
  background-color: #33ffcc;
  color: #000000;
}

.flash-message.alert {
  background-color: #ff9999;
  color: #ffffff;
}

main {
  background-color: #f5fff5;
}

.pagination a {
  color: #444;
  text-decoration: none;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.pagination span:not(:last-child)::after {
  content: "｜";
  margin: 0 8px;
  color: #999;
}

.pagination span {
  padding: 2px 4px;
}

.pagination a:hover {
  color: #b71c1c;
  background-color: #fdeff2;
  border-bottom: 2px solid rgba(183, 28, 28, 0.5);
}

.pagination .current {
  color: #b71c1c;
  font-weight: bold;
  border-bottom: 2px solid #b71c1c;
  pointer-events: none;
}
