<table>
  <thead>
    <tr>
      <th></th>
      <th>神社名</th>
      <th>記録</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to post_path(@post) do %>
          <%= image_tag @post.get_image(200,200) %>
        <% end %>
      </td>
      <td>
        <%= @post.shirine_name %>
      </td>
      <td>
        <%= @post.body %>
      </td>
    </tr>
  </tbody>
</table>