<div class="row">
  <div class="col-md-4">
    <h1>投稿一覧</h1>
    <%= render "searches/form" %>
    <br>
    <%= render "posts/posts", posts: @posts %>
  </div>

  <div class="col-md-7 offset-md-1">
    <h1>地図</h1>
  </div>
</div>