/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

h1, h2, h3, h4, h5, nav, p {
  font-family: "Sawarabi Mincho", sans-serif;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 10px 0px;
}

.flash-message.notice {
  background-color: #33ffcc;
  color: #000000;
}

.flash-message.alert {
  background-color: #ff9999;
  color: #ffffff;
}

